<html>
<head>
    <title></title>
</head>
<body>
    <h1> {{ event.getEventName }} </h1>
    <ul>
        <li> {{ event.getDateEvent }}</li>
        <li> {{ event.getLocation }}</li>
        <li> {{ event.getDescription }}</li>
        <li> For questions, please contact:</li>
        <ul>
            <li> {{ user.getName }}</li>
            <li> {{ user.getEmail }} </li>
            <li> {{ user.getPhone }} </li>
            <li> {{ event.getDateEvent }}</li>
        </ul>
    </ul>

    <p><a href='/event/{{ event.getId }}/edit'>Edit this event</a></p>
</body>
</html>
